<!--Articulos-->
<section class="articulos justify-content-start">
    <h2 class="seccion-titulo texto-negro">Articulos</h2>
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Más recientes
      </div>
      <ul class="list-group list-group-flush">
        <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer"> 
          <li class="list-group-item">El decorador @propety en pyton</li>
        </a>
        <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer"> 
          <li class="list-group-item">El decorador @propety en pyton</li>
        </a>
        <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer"> 
          <li class="list-group-item">El decorador @propety en pyton</li>
        </a>
        <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer"> 
          <li class="list-group-item">El decorador @propety en pyton</li>
        </a>
        <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer"> 
          <li class="list-group-item">El decorador @propety en pyton</li>
        </a>
        <a href="https://www.freecodecamp.org/espanol/news/" target="_blank" rel="noopener noreferrer"> 
          <li class="list-group-item">El decorador @propety en pyton</li>
        </a>
      </ul>
    </div>
    <a href="https://www.freecodecamp.org/espanol/" target="_blank">
    <button type="button" class="btn btn-info">
      Ver mas Articulos
      <i class="bi bi-arrow-right-circle-fill"></i>
    </button>
  </a>
  </section>