 <!--Seccion Principal-->
 <section class="hero align-items-stretch">
    <div class="hero-principal">
      <img
        src="imagenes/1674059631491.jpg" alt="Foto de Agustin Cruz" class="hero-imagen-desarrollador"/>
      <h1 id="titulo-principal">Hola, soy Agustin Cruz</h1>
      <h2>Desarrollo Sitios web e investigo sobre nuevas tecnologias.</h2>
    </div>
    <div class="hero-inferior">
      <img
        class="hero-inferior-imagen img-fluid" 
        src="imagenes/hero-inferior.svg" alt="monitor,html,css,javascript"/>
    </div>
  </section>
