<!--Proyectos-->
<section id="proyectoID" class="proyectos-recientes seccion-clara d-flex flex-column">
    <h2 class="seccion-titulo texto-negro">Mis Proyectos Recientes</h2>
    <h3 class="seccion-descripcion">Estos son algunos proyectos que he creado recientemente...</h3>
    <!--Galeria de proyectos-->
    <div class="container texr-center proyectos-contenedor">
      <div class="row">
        <!--Proyecto 1-->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto1.png" alt="imagen de proyecto 1">
            <div class="overlay">
              <p>Proyecto 1</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer"><i class="bi bi-laptop"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--Proyecto 2-->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto2.png" alt="imagen de proyecto 1">
            <div class="overlay">
              <p>Proyecto 2</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer"><i class="bi bi-laptop"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--Proyecto 3-->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto3.png" alt="imagen de proyecto 1">
            <div class="overlay">
              <p>Proyecto 3</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer"><i class="bi bi-laptop"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--Proyecto 4-->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto4.png" alt="imagen de proyecto 1">
            <div class="overlay">
              <p>Proyecto 4</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer"><i class="bi bi-laptop"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--Proyecto 5-->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto5.png" alt="imagen de proyecto 1">
            <div class="overlay">
              <p>Proyecto 5</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer"><i class="bi bi-laptop"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--Proyecto 6-->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="imagenes/proyecto6.png" alt="imagen de proyecto 1">
            <div class="overlay">
              <p>Proyecto 6</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer"><i class="bi bi-laptop"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://github.com/AgustinCr?tab=repositories" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-info">
      Ver más proyectos
      <i class="bi bi-arrow-right-circle-fill"></i>
    </button>
    </a>
  </section>
