<!--experiencia-->
<section class="experiencia seccion-clara">
        
    <div class="container-fluid">
      
      <div class="row">
        <!--Desarrollo web-->
        <div class="columna col-12 col-md-4 ">
          <i class="bi bi-laptop"></i>
          <p class="experiencia-titulo">Desarrolo web</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus autem dolores, beatae error obcaecati laboriosam facilis mollitia. Voluptatum, fuga obcaecati? Earum, facilis aliquam dicta omnis necessitatibus .</p>
          <div class="badges-contenedor">
          <span class="badge text-bg-primary">HTML</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-primary">JavaScript</span>
          </div>
        </div>
        <!--Articulos-->
        <div class="columna col-12 col-md-4">
          <i class="bi bi-laptop"></i>
          <p class="experiencia-titulo">Articulos</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus autem dolores, beatae error obcaecati laboriosam facilis mollitia. Voluptatum, fuga obcaecati? Earum, facilis aliquam dicta omnis necessitatibus .</p>
        <div class="badges-contenedor align-items-center">
          <span class="badge text-bg-primary">Escribir</span>
          <span class="badge text-bg-primary">Editar</span>
          <span class="badge text-bg-primary">Blogs</span>
        </div>
        </div>
        <!--Estudiante-->
        <div class="columna col-12 col-md-4">
          <i class="bi bi-laptop"></i>
          <p class="experiencia-titulo">Estudiante</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus autem dolores, beatae error obcaecati laboriosam facilis mollitia. Voluptatum, fuga obcaecati? Earum, facilis aliquam dicta omnis necessitatibus .</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">FreeCodeCamp</span>
          <span class="badge text-bg-primary">Angular</span>
          <span class="badge text-bg-primary">UNO</span>
        </div>
        </div>
      </div>
    </div>
  </section>