<!--Sobre mi-->
<section class="sobre-mi seccion-oscura">
    <div class="contenedor">
      <h2 id="datos_personales" class="seccion-titulo">Conocé a Agustin Cruz</h2>
      <p class="seccion-texto">
        Mi nombre es Agustín Alexis Cruz, soy de Argetina Buenos Aires,
        tengo 19 años Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Tempora ab deleniti quibusdam corporis adipisci nemo itaque
        autem. Explicabo labore soluta quasi illo expedita neque
        consequatur, sapiente tenetur quam. Est, sint?Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Non, placeat facere! Veritatis
        odit voluptate dolor, vero tenetur eum nesciunt aliquam tempore
        recusandae alias veniam eligendi! Qui molestias omnis dignissimos
        sunt?Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dolorem beatae recusandae, modi totam alias vel. Quibusdam eius
        totam in nihil ab! Minus maxime, error provident ipsa eveniet eum
        quae asperiores.
      </p>
    </div>
  </section>